body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4fb;
    overflow: hidden;
}
.header{
    position : fixed;
    top : 0;
    left:0;
    width: 100%;
    /*border: 3px solid #73AD21;*/
    font-weight: 700;
    font-size: 30px;
    padding : 1%;
    background-color: #ffffff;
    height: 7%;
    
}

.header a{
    text-decoration: none;
    color: #012970;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    left:0%;
    top:12%;
    height: 88%;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #012970;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

.viewattendance-container{
  width: 80%;
  position: fixed;
  left:20%;
  top:12%;
  height: 88%;
}

#viewattendance-header{
  padding-left: 2%;
}

.viewattendance-box{
  background-color: #ffffff;
  width: 85%;
  margin-left: 4%;
  padding: 2%;
  border-radius: 20px;
  height: 70%;
}