<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Add Student Details</h1>
    </div>
    <div class="container">
        <form action="/addstudent" method="post" enctype="multipart/form-data">
            <label for="full_name">Full Name:</label>
            <input type="text" id="full_name" name="full_name" required><br><br>
            
            <label for="grade">Grade:</label>
            <input type="text" id="grade" name="grade" required><br><br>
            
            <!-- Add other student details here -->
            
            <button type="button" id="startCaptureButton" onclick="startCamera()">Start Camera</button>
            <button type="button" id="captureButton" onclick="capturePhoto()" disabled>Capture Photo</button>
            <video id="camera" autoplay></video>
            <img id="capturedImage" alt="Captured Image" style="display: none;"><br><br>
            
            <button type="submit">Add Student</button>
        </form>
    </div>
    <div class="footer">
        <p>&copy; 2023 Organization's Facial Recognition Attendance System. All rights reserved.</p>
    </div>

    <script>
        let stream;

        async function startCamera() {
            try {
                stream = await navigator.mediaDevices.getUserMedia({ video: true });
                const videoElement = document.getElementById('camera');
                videoElement.srcObject = stream;
                document.getElementById('startCaptureButton').disabled = true;
                document.getElementById('captureButton').disabled = false;
            } catch (error) {
                console.error('Error accessing camera:', error);
            }
        }

        function capturePhoto() {
            const videoElement = document.getElementById('camera');
            const canvas = document.createElement('canvas');
            const capturedImage = document.getElementById('capturedImage');
            
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            canvas.getContext('2d').drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            
            const imageDataURL = canvas.toDataURL('image/png'); // You can change the image format
            capturedImage.src = imageDataURL;
            capturedImage.style.display = 'block';
            
            // Enable submit button
            document.querySelector('button[type="submit"]').disabled = false;
        }
    </script>
</body>
</html>
