<!DOCTYPE html>
<html>
<head>
    <title>Attendance Page</title>
    <link rel="icon" type="image/png" href="./static/images/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/attend.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

</head>
<body>
    <div class="header">
        <a href="/dashboard">Attendify</a>
    </div>
    <h1>Attendance Data</h1>
    <div id="attendance-container">
        <table border="1" style="align-items: center;" id="attendance-table">
            <tr>
                <th>StudentID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            {% for record in attendance_data %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td><a href="./static/recognized_faces/{{record[4]}}.jpg" data-lightbox="{{record[4]}}">
                    <img src="./static/recognized_faces/{{record[4]}}.jpg" alt="Absent" style="max-height: 40px;">
                </a>
                </td>
            {% endfor %}
        </table>
    </div>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });
    </script>
</body>
</html>
