<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendify</title>
    <link rel="stylesheet" href="static/dashboard-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <link rel="icon" type="image/png" href="./static/images/favicon.png">
</head>
<style>
    button{
    background-color: #012970;
    color: #f0f4fb;
    padding: 2%;
    margin: 2%;
    width: 70%;
    border:1px solid #999;
    border-radius: 20px;
    font-weight: 700;
}
#addStudentContentP1 label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
#addStudentContentP1 select {
    padding: 5px;
    margin-bottom: 10px;
}

</style>
<body>
    
    <div class="header">
        <a href="/dashboard">Attendify</a>

        {% if teacher_id %}
        <!-- Display teacher's name if available -->
            {% if teacher_name %}
                <div class="welcome">Name: {{ teacher_name }} ID: {{teacher_id}}</div>
            {% else %}
                <!-- Fallback to default message if teacher_name is not available -->
                <div class="welcome">Welcome Teacher</div>
            {% endif %}
        {% endif %}
    </div>


    <ul>
        <section style="color:#012970 ;">Manage Classrooms</section>
        <hr style="width: 75%;">

        <li><a href="#" id="viewattendanceLink">View Attendance</a></li>
        <li><a href="#" id="takeattendanceLink">Take Attendance</a></li>
        <br>

        <section style="color:#012970 ;">Manage Students</section>
        <hr style="width: 75%;">
        
        <li><a href="#" id="addStudentLink">Add Students</a></li>
        <li><a href="#" id="viewStudentLink">View Students</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/generate_reports">Generate Reports</a></li>
        <li><a href="/add_classsub">Add Class/Subject</a></li>
    </ul>


    <img src="./static/images/iconbw.png" style="margin-left: 15%; opacity: 7%; margin-top: 7%;">
    <div id="viewattendance-container" style="display: none;">
        <h1 id="viewattendance-header">View Attendance</h1>
        <div class="viewattendance-box" style="Overflow:scroll">
            <form id="attendance-form" action="/viewattendance" method="POST">
                <table style="width: 100%;">
                    <tr style="width: 100%;">
                        <td style="width: 33%;">
                            <label for="classroom">Select Class:</label>
                            <select id="classroom" name="classroom">
                                {% if classrooms %}
                                    {% for classroom in classrooms %}
                                        <option value="{{ classroom[2] }}">{{ classroom[2] }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">No classrooms available</option>
                                {% endif %}                
                            </select>
                        </td>
                        <td style="width: 33%;">
                            <label for="subject">Select Subject:</label>
                            <select id="subject" name="subject">
                                {% if subjects %}
                                    {% for subject in subjects %}
                                        <option value="{{ subject[0] }}">{{ subject[0] }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">No Subject available</option>
                                {% endif %}                
                            </select>
                        </td>
                    
                        <td style="width: 33%; margin-top: 5%; align-content: center;">
                            <label for="date" style="margin-top: 5%;">Select Date:</label>
                            <input type="date" style="margin-top: 5%;" id="date" name="date"><br><br>
                        </td>
                    </tr>
                    <tr style="width: 100%; align-items: center;">
                        <td style="width: 33%;">
                        </td>
                        <td style="width: 33%;">
                            <button type="submit" style="width: 50%; display: block; margin: 0 auto;" id="fetch-button">Fetch Records</button>
                        </td>
                        <td style="width: 33%;">
                        </td>
                    </tr>
                    
                </table>
            </form>
        </div>
    </div>



    <div id="takeattendance-container" style="display: none;">
        <h1 id="takeattendance-header">Take Attendance</h1>
        <div class="takeattendance-box">
            <div id="takeattendanceContentP1">
                <table width="100%">
                    <tr>
                    <td>
                        <label for="classroom1">Select Class:</label>
                        <select id="classroom1" name="classroom1">
                            {% if classrooms %}
                                {% for classroom in classrooms %}
                                    <option value="{{ classroom[2] }}">{{ classroom[2] }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No classrooms available</option>
                            {% endif %}                
                        </select>
                    </td>
                    <td>
                        <label for="subject1">Select Subject:</label>
                        <select id="subject1" name="subject1">
                            {% if subjects %}
                                {% for subject in subjects %}
                                    <option value="{{ subject[0] }}">{{ subject[0] }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No Subject available</option>
                            {% endif %}                
                        </select>
                    </td>
                    <td>
                        <button type="submit" id="startAttendance">Start Attendance</button>
                    </td>
                </tr>
                </table>
    
            </div>
            <div id="takeattendanceContentP2" >
                    <div id="camera-feed" style="margin-top: -0.5%;float: left; width: 70%; height: 60vh;">
                        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Live Video Feed" width="100%" height="100%">
                    </div>
                    <div id="attendance-text" style="float: left; width: 30%; margin-right: -12%; margin-top: -10%;">
    
                        <h2>Present Students:</h2>
                        <textarea name="attendance-record" id="attendance-record" cols="25" rows="15">
                            <div>
                                {% for student in present %}
                                    <p>{{ student }}</p>
                                {% endfor %}
                            </div>
                        </textarea>
                    <form id="attendance-form2" action="/attendance_summary" method="post">
                        <button type="submit" id="camera-button" style="margin-left: 10%;width: 30%; margin-top: -30%; margin-bottom: 20%;">Stop Camera</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <div id="addStudentContent" style="display: none;">
        <div id="addStudentContentP1" style="display: block;">
            <h2 id="addStudentHeader">Add Student</h2>
            <form id="studentForm" action="/submit-student" method="post">
                <label for="studentName">Student Name:</label>
                <input type="text" id="studentName" name="studentName" required>
        
                <label for="studentEmail " style="margin-left:10% ;">Email ID:</label>
                <input type="email" id="studentEmail" name="studentEmail" required>
        
                <label for="classroom" style="margin-left:10% ;">Classroom:</label>
                <select id="classroom" name="classroom">
                    {% if classrooms %}
                        {% for classroom in classrooms %}
                            <option value="{{ classroom[2] }}">{{ classroom[2] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No classrooms available</option>
                    {% endif %}
                </select>
        
                <button type="button" id="nextButton" style="width: 20%; margin-left: 33%;" onclick="submitFormAndShowP2()">Next</button>
            </form>
        </div>

        <div id="addStudentContentP2" style="display: none;">
            
            <h1>Choose an Image</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="image_upload">Select an image:</label>
                <input type="file" id="image_upload" name="image" accept="image/*">
                <input type="submit" value="Upload">
            </form>
            <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: 100px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;"><button onclick="startCamera()">Start Camera</button></td>
                    <td style="width: 30%;"><button type="submit" onclick="takePicture()">Take Picture</button></td>
                </tr>
            </table>
            <label for="studentPicture"><h2>Student Picture:</h2></label>
            <div style="margin-left: 18%; border-radius: 5%;">
                <canvas id="canvas" style="display:none; border: 5px solid #012970; border-radius: 5%; margin-left: 15px;"></canvas>
                <video id="video" style="display:none; border: 5px solid #012970; border-radius: 5%; margin-left: 15px;"></video>
            </div>
            
        </div>
        
    </div>

    <div id="viewstudent-container" style="display: none;">
        <h1 id="viewstudent-header">View Students:</h1>
        <div class="viewstudent-box" style="Overflow:scroll">
            <form id="student-form">
                <div id="student-table-container" style="margin-left:5%; width: 90%;">
                    <table id="student-table" border="1" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Roll Number</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Image_Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in student_data %}
                                <tr>
                                    <td>{{ record[0] }}</td>
                                    <td>{{ record[1] }}</td>
                                    <td>{{ record[2] }}</td>
                                    <td>{{ record[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="static/dashboard_script.js"></script>

</body>
</html>