<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendify</title>
    <link rel="stylesheet" href="static/dashboard-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <link rel="icon" type="image/png" href="./static/images/favicon.png">
</head>
<body>
    
    <div class="header">
        <a href="/dashboard">Attendify</a>

        {% if teacher_id %}
        <!-- Display teacher's name if available -->
            {% if teacher_name %}
                <div class="welcome">Name: {{ teacher_name }} ID: {{teacher_id}}</div>
            {% else %}
                <!-- Fallback to default message if teacher_name is not available -->
                <div class="welcome">Welcome Teacher</div>
            {% endif %}
        {% endif %}
    </div>


    <ul>
        <section style="color:#012970 ;">Manage Classrooms</section>
        <hr style="width: 75%;">

        <li><a href="#" id="viewattendanceLink">View Attendance</a></li>
        <li><a href="#" id="takeattendanceLink">Take Attendance</a></li>
        <br>

        <section style="color:#012970 ;">Manage Students</section>
        <hr style="width: 75%;">
        
        <li><a href="#" id="addStudentLink">Add Students</a></li>
        <li><a href="#" id="viewStudentLink">View Students</a></li>
        <li><a href="/about">About</a></li>

    </ul>


    
    <div id="viewattendance-container" style="display: none;">
        <h1 id="viewattendance-header">View Attendance</h1>
        <div class="viewattendance-box" style="Overflow:scroll">
            <form id="attendance-form" action="/viewattendance" method="POST">
                <label for="classroom">Select Class:</label>
                <select id="classroom" name="classroom">
                    {% if classrooms %}
                        {% for classroom in classrooms %}
                            <option value="{{ classroom[0] }}">{{ classroom[2] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No classrooms available</option>
                    {% endif %}                
                </select>
            
                <label for="subject">Select Subject:</label>
                <select id="subject" name="subject">
                    {% if subjects %}
                        {% for subject in subjects %}
                            <option value="{{ subject[0] }}">{{ subject[0] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No Subject available</option>
                    {% endif %}                
                </select>
            
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date">
                <button type="submit" id="fetch-button">Fetch Records</button>
            </form>
        </div>
    </div>

    <div id="takeattendance-container" style="display: none;">
        <h1 id="takeattendance-header">Take Attendance</h1>
        <div class="takeattendance-box">
            <div id="camera-feed" style="margin-right: -50px;">
                <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Live Video Feed" width="100%" height="100%" style="margin-right:-50px">
            </div>


            <div id="attendance-text" style="margin-top: -7%;margin-left: 73%;">
                <h2>Present Students:</h2>
                <textarea name="attendance-record" id="attendance-record" cols="25" rows="15">
                    <div>
                        {% for student in present %}
                            <p>{{ student }}</p>
                        {% endfor %}
                    </div>
                </textarea>
            </div>
            <form id="attendance-form2" action="{{ url_for('attendance_summary',)}}" method="get">
                <button type="submit" id="camera-button" style="margin-left: 83%; margin-top: -20%; margin-bottom: 20%;">Stop Camera</button>
            </form>
        </div>
    </div>


    <div id="addStudentContent" style="display: none;">
        <div id="addStudentContentP1" style="display: block;">
            <h2 id="addStudentHeader">Add Student</h2>
            <form id="studentForm" action="/submit-student" method="post">
                <table id="addstudentinfo" border="1">
                    <tr>
                        <td><label for="studentName">Student Name:</label></td>
                        <td colspan="2"><input type="text" id="studentName" name="studentName" required></td>
                    </tr>
                    <tr>
                        <td><label for="studentEmail">Email ID:</label></td>
                        <td colspan="2"><input type="email" id="studentEmail" name="studentEmail" required></td>
                    </tr>
                </table>    
                        <div>
                            <button type="button" id="nextButton" onclick="submitFormAndShowP2()">Next</button>
                        </div>
            </form>
        </div>

        <div id="addStudentContentP2" style="display: none;">
            <label for="studentPicture">Student Picture:</label>
            <input type="file" id="studentPicture" name="studentPicture" accept="image/*">
            <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: 100px;">

            <button onclick="startCamera()">Start Camera</button>
            <button type="submit" onclick="takePicture()">Take Picture</button>
            <canvas id="canvas" style="display:none;"></canvas>
            <video id="video" style="display:none;"></video>
        </div>
        
    </div>

    <div id="viewstudent-container" style="display: none;">
        <h1 id="viewstudent-header">View Students:</h1>
        <div class="viewstudent-box" style="Overflow:scroll">
            <form id="student-form">
                <div id="student-table-container" style="margin-left:5%; width: 90%;">
                    <table id="student-table" border="1" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Roll Number</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Image_Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in student_data %}
                                <tr>
                                    <td>{{ record[0] }}</td>
                                    <td>{{ record[1] }}</td>
                                    <td>{{ record[2] }}</td>
                                    <td>{{ record[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="static/dashboard_script.js"></script>

</body>
</html>