<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendify</title>
    <link rel="stylesheet" href="static/dashboard-style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>
    
    <div class="header">
        <a href="/dashboard">Attendify</a>

        {% if teacher_id %}
        <!-- Display teacher's name if available -->
            {% if teacher_name %}
                <div class="welcome">Name: {{ teacher_name }} ID: {{teacher_id}}</div>
            {% else %}
                <!-- Fallback to default message if teacher_name is not available -->
                <div class="welcome">Welcome Teacher</div>
            {% endif %}
        {% endif %}
    </div>
    <ul>
        <section style="color:#012970 ;">Manage Classrooms</section>
        <hr style="width: 75%;">

        <li><a href="#" id="viewattendanceLink">View Attendance</a></li>
        <li><a href="#" id="takeattendanceLink">Take Attendance</a></li>
        <br>

        <section style="color:#012970 ;">Manage Students</section>
        <hr style="width: 75%;">
        
        <li><a href="#" id="addStudentLink">Add Students</a></li>
        <li><a href="#" id="viewStudentLink">View Students</a></li>
        <li><a href="#">About</a></li>

    </ul>
<!--
    {% block header %}{% endblock %}
    <div class="container">
      {% block br %}{% endblock %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %} {% for
      category, message in messages %} {% if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {%
      endblock %}
      -->

    
    
    <div id="viewattendance-container" style="display: none;">
        <h1 id="viewattendance-header">View Attendance</h1>
        <div class="viewattendance-box">
            <form id="attendance-form">
                <label for="classroom">Select Classroom:</label>
                <select id="classroom" name="classroom">
                    {% if classrooms %}
                        {% for classroom in classrooms %}
                            <option value="{{ classroom.ClassroomID }}">{{ classroom.Division }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">No classrooms available</option>
                    {% endif %}                
                </select>

                <label for="subject" style="margin-left: 5%;">Select Subject:</label>
                <select id="subject" name="subject">
                    <option value="subject1">Subject 1</option>
                    <option value="subject2" >Subject 2</option>
                    <!-- Add more subject options here -->
                </select>

                <button type="submit" id="fetch-button">Fetch Records</button>
            </form>

            <div id="attendance-table-container">
                <table id="attendance-table" border="1">
                    <thead>
                        <tr>
                            <th>Roll Number</th>
                            <th>Name</th>
                            <th>Attendance</th>
                            <th>Total Lectures</th>
                            <th>Attendance Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>14</td>
                            <td>Gourav Midya</td>
                            <td>14</td>
                            <td>16</td>
                            <td>80%</td>
                        </tr>
                        <!-- Attendance records will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="takeattendance-container" style="display: none;">
        <h1 id="takeattendance-header">Take Attendance</h1>
        <div class="takeattendance-box">
            <form id="attendance-form2">
                <label for="classroom2">Select Classroom:</label>
                <select id="classroom2" name="classroom">
                    <option value="classroom1">Classroom 1</option>
                    <option value="classroom2">Classroom 2</option>
                    <!-- Add more classroom options here -->
                </select>

                <label for="subject2" style="margin-left: 5%;">Select Subject:</label>
                <select id="subject2" name="subject">
                    <option value="subject1">Subject 1</option>
                    <option value="subject2" >Subject 2</option>
                    <!-- Add more subject options here -->
                </select>

                <label for="timings" style="margin-left: 5%;">Select Time Slot:</label>
                <select id="timings" name="timings">
                    <option value="">6:00-7:00</option>
                    <option value="" >7:00-8:00</option>
                    <option value="" >8:00-9:00</option>
                    <option value="" >9:00-10:00</option>
                    <option value="" >10:00-11:00</option>
                    <option value="" >11:00-12:00</option>
                    <option value="" >12:00-13:00</option>
                    <option value="" >13:00-14:00</option>
                    <option value="" >14:00-15:00</option>
                    <option value="" >15:00-16:00</option>
                    <option value="" >16:00-17:00</option>
                    <option value="" >17:00-18:00</option>
                </select>

                <button type="submit" id="camera-button">Start Camera</button>
                <button type="submit" id="camera-button">Stop Camera</button>
            </form>
            <!-- In your dashboard.html file -->
            <!-- In your dashboard.html file -->
            <div id="camera-feed">
                <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Live Video Feed" width="700" height="355">
            </div>


            <div id="attendance-text">
                <h2>Present Students:</h2>
                <textarea name="attendance-record" id="attendance-record" cols="25" rows="15">
                    <div>
                        {% for student in present %}
                            <p>{{ student }}</p>
                        {% endfor %}
                    </div>
                </textarea>
            </div>
        </div>
    </div>

    <div id="addStudentContent" style="display: none;">
        <div id="addStudentContentP1" style="display: block;">
            <h2 id="addStudentHeader">Add Student</h2>
            <form id="studentForm">
                <table id="addstudentinfo" border="1">
                    <tr>
                        <td><label for="studentName">Student Name:</label></td>
                        <td colspan="2"><input type="text" id="studentName" name="studentName" required></td>
                    </tr>
                    <tr>
                        <td><label for="studentEmail">Email ID:</label></td>
                        <td colspan="2"><input type="email" id="studentEmail" name="studentEmail" required></td>
                    </tr>
                    <tr>
                        <td><label for="studentRollNumber">Roll Number:</label></td>
                        <td colspan="2"><input type="text" id="studentRollNumber" name="studentRollNumber" required></td>
                    </tr>
                    <tr>
                        <td><label for="classroom">Classroom ID:</label></td>
                        <td><input type="text" id="classroomSearch" placeholder="Search Classroom"></td>
                        <td><select id="classroom" name="classroom" required>
                            <option value="">Select Classroom</option>
                            <option value="classroom1">Comps T.E. B</option>
                            <option value="classroom2">IT B.E. A</option>
                            <option value="classroom3">Classroom 3</option>
                            <!-- Add more options as needed -->
                        </select>
                        </td>
                    </tr>
                </table>    
                        <div>
                            <button type="button" id="nextButton">Next</button>
                            <button type="submit" id="submitButton">Submit</button>
                        </div>
            </form>
        </div>

        <div id="addStudentContentP2" style="display: none;">
            <label for="studentPicture">Student Picture:</label>
            <input type="file" id="studentPicture" name="studentPicture" accept="image/*">
            <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: 100px;">

            <button onclick="startCamera()">Start Camera</button>
            <button onclick="takePicture()">Take Picture</button>
            <button onclick="stopCamera()">Stop Camera</button>
            <canvas id="canvas" style="display:none;"></canvas>
            <video id="video" style="display:none;"></video>
            <div>
                <button type="backdivlink">Back</button>
            </div>
        </div>
        
    </div>

    <div id="viewstudent-container" style="display: none;">
        <h1 id="viewstudent-header">View Students:</h1>
        <div class="viewstudent-box">
            <form id="student-form">
                <label for="classroom">Select Classroom:</label>
                <select id="classroom" name="classroom">
                    <option value="classroom1">Classroom 1</option>
                    <option value="classroom2">Classroom 2</option>
                    <!-- Add more classroom options here -->
                </select>
                <button type="submit" id="fetch-button">Fetch Records</button>
            </form>

            <div id="student-table-container">
                <table id="student-table" border="1">
                    <thead>
                        <tr>
                            <th>Roll Number</th>
                            <th>Name</th>
                            <th>Attended Lectures</th>
                            <th>Total Lectures</th>
                            <th>Attendance Percentage</th>
                            <th>Student Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>14</td>
                            <td>Gourav Midya</td>
                            <td>14</td>
                            <td>16</td>
                            <td>80%</td>
                            <td><a href="">image link here</a></td>
                        </tr>
                        <!-- Attendance records will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

      <script src="static/dashboard_script.js"></script>
</body>
</html>