<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div class="header">
    <h1>Welcome to Your Dashboard</h1>
    <p><a href="/">Logout</a></p>
  </div>
  <div class="container">

    <div class="card">
        <h2>Start Live Camera Feed</h2>
        <p>Initiate a live camera feed with facial recognition for attendance marking.</p>
        <a href="/video"><button>Start Camera Feed</button></a>
      </div>
      <div class="card">
        <h2>Add New Entry</h2>
        <p>Add new entries to the database for facial recognition.</p>
        <a href="/addstudent"><button>Add New Entry</button></a>
      </div>
    <div class="card">
      <h2>Attendance History</h2>
      <p>View your attendance history and details.</p>
      <button>View Attendance</button>
    </div>
    <div class="card">
      <h2>Profile Settings</h2>
      <p>Update your profile information and preferences.</p>
      <button>Edit Profile</button>
    </div>
    <div class="card">
      <h2>Generate Reports</h2>
      <p>Create detailed attendance reports for specific time periods.</p>
      <button>Generate Report</button>
    </div>
    
  </div>
  <div class="footer">
    <p>&copy; 2023 Organization's Facial Recognition Attendance System. All rights reserved.</p>
  </div>

</body>

</html>
