<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendify</title>
    <link rel="stylesheet" href="static/dashboard-style.css">
</head>
<body>
    <div class="header">
        <a href="/">Attendify</a>
        <div class="welcome">Welcome Admin</div>
    </div>
    <ul>
        <section style="color:#012970 ;">Manage Classrooms</section>
        <hr style="width: 75%;">

        <li><a href="#" id="viewattendanceLink">View Attendance</a></li>
        <li><a href="#" id="takeattendanceLink">Take Attendance</a></li>
        <br>

        <section style="color:#012970 ;">Manage Students</section>
        <hr style="width: 75%;">
        
        <li><a href="#" id="addStudentLink">Add Students</a></li>
        <li><a href="#" id="viewStudentLink">View Students</a></li>
        <li><a href="#">About</a></li>

    </ul>

    {% block header %}{% endblock %}
    <div class="container">
      {% block br %}{% endblock %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %} {% for
      category, message in messages %} {% if category == 'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert" style="margin-top: 10px;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {%
      endblock %}
    <div id="viewattendance-container" style="display: none;">
        <h1 id="viewattendance-header">View Attendance</h1>
        <div class="viewattendance-box">
            <form id="attendance-form">
                <label for="classroom">Select Classroom:</label>
                <select id="classroom" name="classroom">
                    <option value="classroom1">Classroom 1</option>
                    <option value="classroom2">Classroom 2</option>
                    <!-- Add more classroom options here -->
                </select>

                <label for="subject" style="margin-left: 5%;">Select Subject:</label>
                <select id="subject" name="subject">
                    <option value="subject1">Subject 1</option>
                    <option value="subject2" >Subject 2</option>
                    <!-- Add more subject options here -->
                </select>

                <button type="submit" id="fetch-button">Fetch Records</button>
            </form>

            <div id="attendance-table-container">
                <table id="attendance-table" border="1">
                    <thead>
                        <tr>
                            <th>Roll Number</th>
                            <th>Name</th>
                            <th>Attendance</th>
                            <th>Total Lectures</th>
                            <th>Attendance Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>14</td>
                            <td>Gourav Midya</td>
                            <td>14</td>
                            <td>16</td>
                            <td>80%</td>
                        </tr>
                        <!-- Attendance records will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="takeattendance-container" style="display: none;">
        <h1 id="takeattendance-header">Take Attendance</h1>
        <div class="takeattendance-box">
            <form id="attendance-form2">
                <label for="classroom2">Select Classroom:</label>
                <select id="classroom2" name="classroom">
                    <option value="classroom1">Classroom 1</option>
                    <option value="classroom2">Classroom 2</option>
                    <!-- Add more classroom options here -->
                </select>

                <label for="subject2" style="margin-left: 5%;">Select Subject:</label>
                <select id="subject2" name="subject">
                    <option value="subject1">Subject 1</option>
                    <option value="subject2" >Subject 2</option>
                    <!-- Add more subject options here -->
                </select>

                <button type="submit" id="camera-button">Start Camera</button>
                <button type="submit" id="camera-button">Stop Camera</button>
            </form>
            <div id="camera-feed">
                Idhar hoga camera feed
            </div>
            <div id="attendance-text">
                <textarea name="attendance-record" id="attendance-record" cols="25" rows="15"></textarea>
            </div>
        </div>
    </div>

    <div id="addStudentContent" style="display: none;">
        <h2 id="addStudentHeader">Add Student</h2>
        <form id="studentForm">
            <table id="addstudentinfo" border="1">
                <tr>
                    <td><label for="studentName">Student Name:</label></td>
                    <td colspan="2"><input type="text" id="studentName" name="studentName" required></td>
                </tr>
                <tr>
                    <td><label for="studentEmail">Email ID:</label></td>
                    <td colspan="2"><input type="email" id="studentEmail" name="studentEmail" required></td>
                </tr>
                <tr>
                    <td><label for="studentRollNumber">Roll Number:</label></td>
                    <td colspan="2"><input type="text" id="studentRollNumber" name="studentRollNumber" required></td>
                </tr>
                <tr>
                    <td><label for="classroom">Classroom ID:</label></td>
                    <td><input type="text" id="classroomSearch" placeholder="Search Classroom"></td>
                    <td><select id="classroom" name="classroom" required>
                        <option value="">Select Classroom</option>
                        <option value="classroom1">Comps T.E. B</option>
                        <option value="classroom2">IT B.E. A</option>
                        <option value="classroom3">Classroom 3</option>
                        <!-- Add more options as needed -->
                    </select>
                    </td>
                </tr>
            </table>    
                    <label for="studentPicture">Student Picture:</label>
                    <input type="file" id="studentPicture" name="studentPicture" accept="image/*">
                    <img id="previewImage" src="#" alt="Preview" style="display: none; max-width: 100px;">
                    <div>
                        <button type="submit">Add Student</button>
                    </div>
            
        </form>
        
    </div>

    <div id="viewstudent-container" style="display: none;">
        <h1 id="viewstudent-header">View Students:</h1>
        <div class="viewstudent-box">
            <form id="student-form">
                <label for="classroom">Select Classroom:</label>
                <select id="classroom" name="classroom">
                    <option value="classroom1">Classroom 1</option>
                    <option value="classroom2">Classroom 2</option>
                    <!-- Add more classroom options here -->
                </select>
                <button type="submit" id="fetch-button">Fetch Records</button>
            </form>

            <div id="student-table-container">
                <table id="student-table" border="1">
                    <thead>
                        <tr>
                            <th>Roll Number</th>
                            <th>Name</th>
                            <th>Attended Lectures</th>
                            <th>Total Lectures</th>
                            <th>Attendance Percentage</th>
                            <th>Student Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>14</td>
                            <td>Gourav Midya</td>
                            <td>14</td>
                            <td>16</td>
                            <td>80%</td>
                            <td><a href="">image link here</a></td>
                        </tr>
                        <!-- Attendance records will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

      <script src="static/dashboard_script.js"></script>
</body>
</html>