body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4fb;
    overflow: hidden;
}
.header{
    position : fixed;
    top : 0;
    left:0;
    width: 100%;
    /*border: 3px solid #73AD21;*/
    font-weight: 700;
    font-size: 30px;
    padding : 1%;
    background-color: #ffffff;
}

.header a{
    text-decoration: none;
    color: #012970;
}

.desc{
    position : fixed;
    top : 20vh;
    left:10%;
    width: 40%;
    font-size: 45px;
    font-weight: bold;
    /*border: 3px solid #73AD21;*/
    padding: 3%;
}

.description{
    font-size: small;
    font-weight:lighter;
    width: 80%;
    padding-top: 5%;
}

.changing {
    display:inline-block;
    color: #012970;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    
}

.login-container{
    position: fixed;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    top:auto;
    right: 10%;
    width: 30%;
    height: 55%;
    text-align: center;
    background-color: #ffffff;
    display: block;
}

.login-head{
    color: #012970;
}

#text-box{
    border-radius: 20px;
    padding: 2%;
    margin: 3%;
    width: 70%;
    border:1px solid #999;
}

#login-button{
    background-color: #012970;
    color: #f0f4fb;
    padding: 2%;
    margin: 2%;
    width: 70%;
    border:1px solid #999;
    border-radius: 20px;
    font-weight: 700;
}

.login-button:active{
    background-color: #012056;
}

.signup-prompt{
    margin-top: 4%;
}

.signup-container {
    display: none;
    position: fixed;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    top:auto;
    right: 10%;
    width: 30%;
    height: 75%;
    text-align: center;
    background-color: #ffffff;
}

#signup-button{
    background-color: #012970;
    color: #f0f4fb;
    padding: 2%;
    margin: 2%;
    width: 70%;
    border:1px solid #999;
    border-radius: 20px;
    font-weight: 700;
}